<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700"
	rel="stylesheet" />
<!-- The main CSS file -->
<link href="../css/style.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
</head>
<body>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script type="text/javascript">
        var app = angular.module('ConsigneePopupApp', [])
        app.controller('ConsigneePopupController', function ($scope, $window) {
            $scope.consignees = $window.consignees;
            $scope.selectRow = function(consignee) {
            	console.log('Selected row',consignee);
            	$window.opener.setSelectedConsignee(consignee);
            	$window.close();
            }
        });
    </script>
    
    <div ng-app="ConsigneePopupApp" ng-controller="ConsigneePopupController">
    
    <table class="table table-striped">
    	<tr>
    		<td>Search</td>
    		<td colspan="2"><input type="text" ng-model="curConsignee" class="inputText"> </td>
    	</tr>
    	<tr>
    		<th>Select</th>
    		<th>Name</th>
    		<th>Email</th>
    		<th>Mobile</th>
    		<th>Phone</th>
    		<th>Address</th>
    		<th>State</th>
    		<th>State Code</th>
    		<th>GSTIN</th>
    	</tr>
    	<tr ng-repeat="consignee in consignees | filter: curConsignee">
    		<td><input type="radio" name="selectedCustomer" value="consignee" ng-model="selected.value" ng-change="selectRow({{consignee}})">Select</td>
    		<td>{{consignee.name}}</td>
    		<td>{{consignee.email}}</td>
    		<td>{{consignee.mobileNo}}</td>
    		<td>{{consignee.phoneNo}}</td>
    		<td>{{consignee.address}}</td>
    		<td>{{consignee.state}}</td>
    		<td>{{consignee.stateCode}}</td>
    		<td>{{consignee.gstin}}</td>
    	</tr>
    </table>
        
    </div>
</body>
</html>