<div ng-controller="CreditNoteController as controller">


    <h3>Credit Note</h3>

    <div class="container">
        <form name="creditNoteForm" role="form" class="form-horizontal"
              ng-submit="controller.submit()">
            <div class="form-group">
                <div class="row well highlightedSection">

                    <div class="col-sm-12 ">

                        <div class="col-sm-3">
                            <p>GSTIN: {{userDetails.gstin}}</p>
                        </div>
                        <div class="col-sm-3">
                            <p>Name: {{userDetails.userName}}</p>
                        </div>
                        <div class="col-sm-3">
                            <p>Address: {{userDetails.address}}</p>
                        </div>
                        <div class="col-sm-3">
                            <p>State: {{userDetails.state.statename}}</p>
                        </div>

                    </div>
                </div>
                <div>
                    <br/>
                </div>
                <div class="panel panel-default">
                    <div class="row">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label for="invoiceNo" class="col-sm-2">Invoice Number</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="invoiceNo" id="invoiceNo"
                                               ng-model="controller.invoice.invoiceNumber"
                                               class="form-control input-sm" ng-disabled="true"
                                               style="color: black;"/>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label for="invoiceDate" class="col-sm-2">Invoice Date</label>
                                    <div class="col-sm-8">
                                        <input type="date" name="invoiceDate" id="invoiceDate"
                                               ng-model="controller.invoice.invoiceDate" ng-disabled="true"
                                               class="form-control input-sm" ng-required="true"/>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label for="invoiceDueDate" class="col-sm-2">Invoice
                                        Due Date</label>
                                    <div class="col-sm-8">
                                        <input type="date" name="invoiceDueDate" id="invoiceDueDate"
                                               ng-model="invoice.invoiceDueDate" ng-disabled="true"
                                               class="form-control input-sm" ng-required="true"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <p>Details of Receiver(Billed To)</p>
                                <p>Details of the person to whom the invoice is billed</p>
                            </div>
                            <div class="panel-body">

                                <div class="form-group">
                                    <label class="col-sm-2">Name</label>
                                    <div class="col-sm-4">
                                        <input type="text" ng-disabled="true"
                                               ng-model="controller.invoice.customer.name"
                                               class="form-control input-sm" ng-required="true">
                                    </div>
                                    <label class="col-sm-2">Address</label>
                                    <div class="col-sm-4">
										<textarea ng-disabled="true" ng-model="controller.invoice.customer.address"
                                                  class="form-control input-sm" ng-required="true"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2">Mobile</label>
                                    <div class="col-sm-4">
                                        <input type="text" ng-disabled="true"
                                               ng-model="controller.invoice.customer.mobileNo"
                                               class="form-control input-sm" ng-required="true">
                                    </div>
                                    <label class="col-sm-2">Phone</label>
                                    <div class="col-sm-4">
                                        <input type="text" ng-disabled="true"
                                               ng-model="controller.invoice.customer.phoneNo"
                                               class="form-control input-sm">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2">Email</label>
                                    <div class="col-sm-4">
                                        <input type="text" ng-disabled="true"
                                               ng-model="controller.invoice.customer.email"
                                               class="form-control input-sm">
                                    </div>
                                    <div class="col-sm-6"></div>
                                </div>

                                <div class="form-group">
                                    <label for="state" class="col-sm-2">State</label>
                                    <div class="col-sm-4">

                                        <input type="text" id="state" ng-disabled="true"
                                               ng-model="controller.invoice.customer.state"
                                               class="form-control input-sm">

                                    </div>
                                    <label class="col-sm-2">GSTIN</label>
                                    <div class="col-sm-4">
                                        <input type="text" ng-disabled="true"
                                               ng-model="controller.invoice.customer.gstin"
                                               class="form-control input-sm">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-primary">

                            <div class="panel-heading">
                                <p>Details of Consignee(Shipped To)</p>
                                <p>Address of delivery, to be specified if different from
                                    billing address</p>
                            </div>

                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-2">Name</label>
                                    <div class="col-sm-4">
                                        <input type="text" ng-disabled="true"
                                               ng-model="controller.invoice.consignee.name"
                                               class="form-control input-sm" ng-required="true">
                                    </div>
                                    <label class="col-sm-2">Address</label>
                                    <div class="col-sm-4">
										<textarea ng-disabled="true" ng-model="controller.invoice.consignee.address"
                                                  class="form-control input-sm" ng-required="true"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2">Mobile</label>
                                    <div class="col-sm-4">
                                        <input ng-disabled="true" type="text"
                                               ng-model="controller.invoice.consignee.mobileNo"
                                               class="form-control input-sm" ng-required="true">
                                    </div>
                                    <label class="col-sm-2">Phone</label>
                                    <div class="col-sm-4">
                                        <input ng-disabled="true" type="text"
                                               ng-model="controller.invoice.consignee.phoneNo"
                                               class="form-control input-sm">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2">Email</label>
                                    <div class="col-sm-4">
                                        <input ng-disabled="true" ng-disabled="true" type="text"
                                               ng-model="controller.invoice.consignee.email"
                                               class="form-control input-sm">
                                    </div>
                                    <div class="col-sm-6"></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2">State</label>
                                    <div class="col-sm-4">
                                        <input type="text" ng-disabled="true"
                                               ng-model="controller.invoice.consignee.state"
                                               class="form-control input-sm">

                                    </div>
                                    <label class="col-sm-2">GSTIN</label>
                                    <div class="col-sm-4">
                                        <input type="text" ng-disabled="true"
                                               ng-model="controller.invoice.consignee.gstin"
                                               class="form-control input-sm">
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>


                <br/>
                <!-- Invoice Items -->

                <div ng-show="invoiceItemDetails.length > 0">

                    <table class="table table-bordered">

                        <tr style="font-weight: bold">
                            <td>SN.</td>
                            <td>Product</td>
                            <td>Quant.</td>
                            <td>Unit</td>
                            <td>Rate</td>
                            <td>Total</td>
                            <td>Disc.</td>
                            <td>Amount</td>
                            <td>IGST %</td>
                            <td>IGST Amount</td>
                            <td>CGST %</td>
                            <td>CGST Amount</td>
                            <td>SGST %</td>
                            <td>SGST Amount</td>
                            <td>Action</td>
                        </tr>

                        <tr ng-repeat="invoiceItem in invoiceItemDetails track by invoiceItem.serialNumber">

                            <td>
                                {{invoiceItem.serialNumber}}
                            </td>
                            <td>
                                {{invoiceItem.product.name}}
                            </td>
                            <td>
                                <span ng-hide="invoiceItem.editMode">{{invoiceItem.quantity}}</span>
                                <span ng-show="invoiceItem.editMode">
                                    <input class="form-control input-sm"
                                           ng-model="invoiceItem.quantity" ng-pattern="/^[0-9]+$/">
                                </span>
                            </td>
                            <td>
                                {{invoiceItem.unit}}
                            </td>
                            <td>
                                <span ng-hide="invoiceItem.editMode">{{invoiceItem.rate}}</span>
                                <span ng-show="invoiceItem.editMode">
                                    <input class="form-control input-sm"
                                           ng-model="invoiceItem.rate" ng-pattern="/^[0-9]+$/">
                                </span>
                            </td>
                            <td>
                                {{invoiceItem.total}}
                            </td>
                            <td>
                                <span ng-hide="invoiceItem.editMode">{{invoiceItem.discount}}</span>
                                <span ng-show="invoiceItem.editMode">
                                    <input class="form-control input-sm"
                                           ng-model="invoiceItem.discount" ng-pattern="/^[0-9]+$/">
                                </span>
                            </td>
                            <td>
                                {{invoiceItem.taxableValue}}
                            </td>
                            <td>
                                {{invoiceItem.igstRate}}
                            </td>
                            <td>
                                {{invoiceItem.igstAmount}}
                            </td>
                            <td>
                                {{invoiceItem.cgstRate}}
                            </td>
                            <td>
                                {{invoiceItem.cgstAmount}}
                            </td>
                            <td>
                                {{invoiceItem.sgstRate}}
                            </td>
                            <td>
                                {{invoiceItem.sgstAmount}}
                            </td>
                            <td>
                                <div>

                                    <span ng-hide="invoiceItem.editMode"><a style="color: black;" ng-click="setEdit(invoiceItem)"><i class="fas fas fa-pen-square"></i>Edit</a><br/></span>
                                    <span ng-show="invoiceItem.editMode"><a style="color: black;" ng-click="saveEdit()"><i class="fas fa-save"></i>Save</a><br/></span>
                                    <span><a style="color: black;" ng-click="deleteItem()"><i class="fas fa-trash-alt"></i>Delete</a></span>

                                   <!-- <button class="btn-sm btn-primary" ng-hide="editMode"
                                            ng-click="setEdit(invoiceItem)">Edit
                                    </button>
                                    <button class="btn-sm btn-success" ng-show="editMode" ng-click="saveEdit()">Save
                                    </button>
                                    <button class="btn-sm btn-danger" ng-click="removeUser($index)">Delete</button>-->
                                </div>
                            </td>
                        </tr>

                    </table>

                </div>

                <br>
                <!-- Invoice Items -->

                <!-- Total Amount Section -->
                <div class="row highlightedSection">

                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="row">Total Amount:</div>
                            </div>
                            <div class="col-sm-4">
                                <div class="row">{{ controller.invoice.grandTotal |
                                    currency:"&#x20B9;" }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="row">Total Tax:</div>
                            </div>
                            <div class="col-sm-4">
                                <div class="row">{{ controller.invoice.totalTax |
                                    currency:"&#x20B9;" }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="row">Grand Total:</div>
                            </div>
                            <div class="col-sm-4">
                                <div class="row">{{controller.invoice.netTotal |
                                    currency:"&#x20B9;"}}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <br/>
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="button" ng-click="closeThisDialog('')" class="btn btn-danger">Cancel</button>
        </form>
    </div>

</div>


