<div ng-controller="InvoiceController as controller"
	onload="getInvoiceNumber()">
	<form name="invoiceForm" role="form" class="form-horizontal"
		ng-submit="controller.submit()">
		<div class="form-group">
			<div class="container">
				<div class="row">

					<div class="col-sm-12"
						style="background-color: #3c3c58; color: white">

						<div class="col-sm-3">
							<p>GSTIN: {{userDetails.gstin}}</p>
						</div>
						<div class="col-sm-3">
							<p>Name: {{userDetails.userName}}</p>
						</div>
						<div class="col-sm-3">
							<p>Address: {{userDetails.address}}</p>
						</div>
						<div class="col-sm-3">
							<p>State: {{userDetails.state.statename}}</p>
						</div>

					</div>
				</div>
				<div>
					<br />
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<label for="invoiceNo" class="col-sm-4">Invoice Number</label>
						<div class="col-sm-4">
							<input type="text" name="invoiceNo" id="invoiceNo"
								ng-model="controller.invoice.invoiceNumber" class="form-control"
								ng-disabled="true" />
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<label for="invoiceDate" class="col-sm-4">Invoice Date</label>
						<div class="col-sm-4">
							<input type="date" name="invoiceDate" id="invoiceDate"
								ng-model="controller.invoice.invoiceDate" class="form-control" />
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6 bordered-div">
						<div class="row">

							<div class="col-sm-12">
								<p>Details of Receiver(Billed To)</p>
								<p>Details of the person to whom the invoice is billed</p>
							</div>

							<div class="form-group" class="radio">
								<label class="col-sm-6"><input type="radio"
									name="isNewCustomer" value="true"
									ng-model="controller.invoice.isNewCustomer"
									ng-change="clearCustomer()"> New Customer</label> <label
									class="col-sm-6"><input type="radio"
									name="isNewCustomer" value="false"
									ng-model="controller.invoice.isNewCustomer"
									ng-change="getCustomers()" data-toggle="modal"
									data-target="#customerModal"> Existing Customer</label>
							</div>

							<div class="form-group">
								<label class="col-sm-6">Name</label>
								<div class="col-sm-5">
									<input type="text" ng-model="controller.invoice.customer.name"
										class="form-control">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-6">Address</label>
								<div class="col-sm-5">
									<textarea ng-model="controller.invoice.customer.address"
										class="form-control"></textarea>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-6">Mobile</label>
								<div class="col-sm-5">
									<input type="text"
										ng-model="controller.invoice.customer.mobileNo"
										class="form-control">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-6">Phone</label>
								<div class="col-sm-5">
									<input type="text"
										ng-model="controller.invoice.customer.phoneNo"
										class="form-control">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-6">Email</label>
								<div class="col-sm-5">
									<input type="text" ng-model="controller.invoice.customer.email"
										class="form-control">
								</div>
							</div>

							<div class="form-group">
								<label for="state" class="col-sm-6">State</label>
								<div class="col-sm-5">
									<select ng-model="controller.invoice.customer.state"
										name="state"
										ng-options="(state.statename+' ('+state.statecode+')') for state in controller.stateList"
										class="form-control" ng-required="true">
									</select>

								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-6">GSTIN</label>
								<div class="col-sm-5">
									<input type="text" ng-model="controller.invoice.customer.gstin"
										class="form-control">
								</div>
							</div>

						</div>
					</div>
					<div class="col-sm-6 bordered-div">
						<div class="row">

							<div class="col-sm-12">
								<p>Details of Consignee(Shipped To)</p>
								<p>Address of delivery, to be specified if different from
									billing address</p>
							</div>

							<div class="form-group" class="radio">
								<label class="col-sm-4"> <input type="radio"
									name="isNewCustomer" value="true"
									ng-model="controller.invoice.isNewConsignee"
									ng-change="clearCustomer()"> New Consignee
								</label> <label class="col-sm-4"> <input type="radio"
									name="isNewCustomer" value="false"
									ng-model="controller.invoice.isNewConsignee"
									ng-change="getConsignees()" data-toggle="modal"
									data-target="#consigneeModal"> Existing Consignee
								</label> <label class="col-sm-4"> <input type="radio"
									name="isNewConsignee" value="sameAsCustomer"
									ng-model="controller.invoice.isNewConsignee"
									ng-change="copyCustomerToConsignee()"> Same as Customer
								</label>
							</div>

							<div class="form-group">
								<label class="col-sm-6">Name</label>
								<div class="col-sm-5">
									<input type="text" ng-model="controller.invoice.consignee.name"
										class="form-control">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-6">Address</label>
								<div class="col-sm-5">
									<textarea ng-model="controller.invoice.consignee.address"
										class="form-control"></textarea>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-6">Mobile</label>
								<div class="col-sm-5">
									<input type="text"
										ng-model="controller.invoice.consignee.mobileNo"
										class="form-control">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-6">Phone</label>
								<div class="col-sm-5">
									<input type="text"
										ng-model="controller.invoice.consignee.phoneNo"
										class="form-control">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-6">Email</label>
								<div class="col-sm-5">
									<input type="text"
										ng-model="controller.invoice.consignee.email"
										class="form-control">
								</div>
							</div>

							<div class="form-group">
								<label for="state" class="col-sm-6">State</label>
								<div class="col-sm-5">
									<select ng-model="controller.invoice.consignee.state"
										name="state"
										ng-options="(state.statename+' ('+state.statecode+')') for state in controller.stateList"
										class="form-control" ng-required="true">
									</select>

								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-6">GSTIN</label>
								<div class="col-sm-5">
									<input type="text"
										ng-model="controller.invoice.consignee.gstin"
										class="form-control">
								</div>
							</div>

						</div>
					</div>
				</div>


				<br />
				<!-- Invoice Items -->

				<div ng-show="invoiceItemDetails.length > 0">

					<div
						ng-repeat="invoiceItem in invoiceItemDetails track by invoiceItem.serialNumber">
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<div class="col-sm-2">
										<div class="row">
											<div class="col-sm-2">
												<label>{{invoiceItem.serialNumber}}</label>
											</div>
											<div class="col-sm-10">
												<select ng-model="invoiceItem.product" name="productCop"
													class="form-control"
													ng-options="product.name for product in controller.products track by product.name"
													ng-required="true" placeholder="Select Product">
												</select>
											</div>
										</div>
									</div>

									<div class="col-sm-2">
										<input class="form-control" name="iquantOrg" id="iquantOrg"
											type="text" placeholder="Quantity"
											ng-model="invoiceItem.quantity" ng-pattern="/^[0-9]+$/">
									</div>

									<div class="col-sm-1">
										<input class="form-control" name="iunitOrg" id="iunitOrg"
											type="text" placeholder="Unit" ng-model="invoiceItem.unit">
									</div>

									<div class="col-sm-2">
										<input class="form-control" name="irateOrg" id="irateOrg"
											type="text" placeholder="Rate" ng-model="invoiceItem.rate">
									</div>

									<div class="col-sm-2">
										<input class="form-control" name="itotalOrg" id="itotalOrg"
											type="text" placeholder="Total" ng-model="invoiceItem.total">
									</div>

									<div class="col-sm-1">
										<input class="form-control" name="idiscOrg" id="idiscOrg"
											type="text" placeholder="Discount"
											ng-model="invoiceItem.discount">
									</div>

									<div class="col-sm-2">
										<input class="form-control" name="itaxableValOrg"
											id="itaxableValOrg" type="text" placeholder="Taxable Amount"
											ng-model="invoiceItem.taxableValue">
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6 form-group">
								<div class="row">
									<div class="col-sm-3">CGST Rate</div>
									<div class="col-sm-3">
										<input class="form-control" name="icgstRateOrg"
											id="icgstRateOrg" placeholder="CGST %" type="text"
											ng-model="invoiceItem.cgstRate">
									</div>
									<div class="col-sm-3">CGST Amount</div>
									<div class="col-sm-3">
										<input class="form-control" name="icgstAmountOrg"
											id="icgstAmountOrg" placeholder="CGST Amount" type="text"
											ng-model="invoiceItem.cgstAmount">
									</div>
								</div>
								<div class="row">
									<div class="col-sm-3">SGST Rate</div>
									<div class="col-sm-3">
										<input class="form-control" name="isgstRateOrg"
											id="isgstRateOrg" placeholder="SGST %" type="text"
											ng-model="invoiceItem.sgstRate">
									</div>
									<div class="col-sm-3">SGST Amount</div>
									<div class="col-sm-3">
										<input class="form-control" name="isgstAmountOrg"
											id="isgstAmountOrg" placeholder="SGST Amount" type="text"
											ng-model="invoiceItem.sgstAmount">
									</div>
								</div>
								<div class="row">
									<div class="col-sm-3">ISGST Rate</div>
									<div class="col-sm-3">
										<input class="form-control" name="iigstRateOrg"
											id="iigstRateOrg" placeholder="IGST %" type="text"
											ng-model="invoiceItem.igstRate">
									</div>
									<div class="col-sm-3">ISGST Amount</div>
									<div class="col-sm-3">
										<input class="form-control" name="iigstAmountOrg"
											id="iigstAmuontOrg" placeholder="IGST Amount" type="text"
											ng-model="invoiceItem.igstAmount">
									</div>
								</div>
							</div>

							<div class="col-sm-6 form-group">
								<div ng-repeat="additionalTax in invoiceItem.additionalTaxes track by $index">
									<div class="row">
										<div class="col-sm-2">{{additionalTax.type.taxType}}%</div>
										<div class="col-sm-2">
											<input class="form-control" name="iAddTaxRate"
												id="icgstRateOrg" type="text"
												ng-model="additionalTax.rate">
										</div>
										<div class="col-sm-3">{{additionalTax.type.taxType}} Amount</div>
										<div class="col-sm-3">
											<input class="form-control" name="icgstAmountOrg"
												id="icgstAmountOrg" placeholder="CGST Amount" type="text"
												ng-model="additionalTax.amount">
										</div>
									</div>
								</div>
							</div>

						</div>
						<div class="col-sm-12">
							<a ng-click="deleteInvoiceItem(invoiceItem)"><button
									class="btn btn-danger navbar-btn">Delete Invoice Item</button></a>
						</div>
					</div>

				</div>


				<div class="row"
					ng-repeat="invoiceItemTemp in tempInvoiceDetails track by invoiceItemTemp.serialNumber">

					<div class="col-sm-12">
						<div class="form-group">


							<div class="col-sm-2"
								ng-class="{'has-error': invoiceForm.productCop.$error.required , 'has-success': invoiceForm.productCop.$valid }">
								<div class="row">
									<div class="col-sm-2">
										<label>{{invoiceItemTemp.serialNumber}}</label>
									</div>
									<div class="col-sm-10">
										<select ng-model="invoiceItemTemp.product" name="productCop"
											class="form-control"
											ng-options="product.name for product in controller.products track by product.name"
											ng-required="true" placeholder="Select Product">
										</select>
									</div>
								</div>
							</div>

							<div class="col-sm-2"
								ng-class="{'has-error': invoiceForm.iquantCop.$error.required || invoiceForm.iquantCop.$error.pattern, 'has-success': invoiceForm.iquantCop.$valid }">
								<input class="form-control" name="iquantCop" id="iquantCop"
									type="text" placeholder="Quantity" ng-required="true"
									ng-model="invoiceItemTemp.quantity" ng-pattern="/^[0-9.]+$/">
							</div>

							<div class="col-sm-1">
								<input class="form-control" name="iunitCop" id="iunitCop"
									type="text" placeholder="Unit" ng-model="invoiceItemTemp.unit">
							</div>

							<div class="col-sm-2"
								ng-class="{'has-error': invoiceForm.irateCop.$error.required || invoiceForm.irateCop.$error.pattern, 'has-success': invoiceForm.irateCop.$valid }">
								<input class="form-control" name="irateCop" id="irateCop"
									type="text" placeholder="Rate" ng-required="true"
									ng-model="invoiceItemTemp.rate" ng-pattern="/^[0-9.]+$/"
									ng-blur="calculateTotal(invoiceItemTemp)">
							</div>

							<div class="col-sm-2"
								ng-class="{'has-error': invoiceForm.itotalCop.$error.required || invoiceForm.itotalCop.$error.pattern, 'has-success': invoiceForm.itotalCop.$valid }">
								<input class="form-control" name="itotalCop" id="itotalCop"
									type="text" placeholder="Total"
									ng-model="invoiceItemTemp.total" ng-pattern="/^[0-9.]+$/"
									ng-required="true">
							</div>

							<div class="col-sm-1"
								ng-class="{'has-error': invoiceForm.idiscCop.$error.pattern, 'has-success': invoiceForm.idiscCop.$valid }">
								<input class="form-control" name="idiscCop" id="idiscCop"
									type="text" placeholder="Discount"
									ng-model="invoiceItemTemp.discount" ng-pattern="/^[0-9.]+$/"
									ng-blur="calculateTaxableAmount(invoiceItemTemp)">
							</div>

							<div class="col-sm-2"
								ng-class="{'has-error': invoiceForm.itaxableValCop.$error.pattern || invoiceForm.itaxableValCop.$error.required, 'has-success': invoiceForm.itaxableValCop.$valid }">
								<input class="form-control" name="itaxableValCop"
									id="itaxableValCop" type="text" ng-required="true"
									ng-pattern="/^[0-9.]+$/" placeholder="Taxable Amount"
									ng-model="invoiceItemTemp.taxableValue">
							</div>

						</div>
					</div>

					<div class="col-sm-12">
						<div class="col-sm-4">
							<div class="row form-group">
								<div class="col-sm-4"
									ng-class="{'has-error': invoiceForm.icgstRateCop.$error.pattern, 'has-success': invoiceForm.icgstRateCop.$valid }">
									<input class="form-control" name="icgstRateCop"
										id="icgstRateCop" placeholder="CGST %" type="text"
										ng-blur="calculateCgst(invoiceItemTemp)"
										ng-pattern="/^[0-9.]+$/" ng-model="invoiceItemTemp.cgstRate">
								</div>
								<div class="col-sm-8">
									<input class="form-control" name="icgstAmountCop"
										id="icgstAmountCop" placeholder="CGST Amount" type="text"
										ng-model="invoiceItemTemp.cgstAmount">
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-4"
									ng-class="{'has-error': invoiceForm.isgstRateCop.$error.pattern, 'has-success': invoiceForm.isgstRateCop.$valid }">
									<input class="form-control" name="isgstRateCop"
										id="isgstRateCop" placeholder="SGST %"
										ng-pattern="/^[0-9.]+$/"
										ng-blur="calculateSgst(invoiceItemTemp)" type="text"
										ng-model="invoiceItemTemp.sgstRate">
								</div>
								<div class="col-sm-8">
									<input class="form-control" name="isgstAmountCop"
										id="isgstAmountCop" placeholder="SGST Amount" type="text"
										ng-model="invoiceItemTemp.sgstAmount">
								</div>
							</div>
							<div class="row form-group">
								<div class="col-sm-4"
									ng-class="{'has-error': invoiceForm.iigstRateCop.$error.pattern, 'has-success': invoiceForm.iigstRateCop.$valid }">
									<input class="form-control" name="iigstRateCop"
										id="iigstRateCop" placeholder="IGST %"
										ng-pattern="/^[0-9.]+$/"
										ng-blur="calculateIgst(invoiceItemTemp)" type="text"
										ng-model="invoiceItemTemp.igstRate">
								</div>
								<div class="col-sm-8">
									<input class="form-control" name="iigstAmountCop"
										id="iigstAmuontCop" placeholder="IGST Amount" type="text"
										ng-model="invoiceItemTemp.igstAmount">
								</div>
							</div>
						</div>



						<div class="col-sm-6">
							<div
								ng-repeat="additionalTax in controller.invoice.addtionalTaxes track by $index">
								<div class="row form-group">
									<div class="col-sm-4">
										<select name="additionalTaxTypeOrg" class="form-control"
											ng-options="extraTax.taxType for extraTax in controller.additionalTaxType"
											ng-required="false" placeholder="Tax Type"
											ng-model="additionalTax.type"></select>
									</div>
									<div class="col-sm-3">
										<input class="form-control" name="iAdditionalTaxRateOrg"
											id="iAdditionalTaxRateOrg" type="text" placeholder="Rate %"
											ng-model="additionalTax.rate" ng-pattern="/^[0-9.]+$/"
											ng-blur="">
									</div>
									<div class="col-sm-4">
										<input class="form-control" name="iAdditionalTaxValOrg"
											id="iAdditionalTaxValOrg" type="text" placeholder="Amount"
											ng-model="additionalTax.amount" ng-pattern="/^[0-9.]+$/"
											ng-blur="">
									</div>
									<div class="col-sm-1">
										<button type="button" class="btn btn-default btn-sm">
											<span class="glyphicon glyphicon-remove"></span> Remove
										</button>
									</div>
								</div>
							</div>
							<div
								ng-repeat="tempExtraTax in controller.tempAdditionalTax track by $index">
								<div class="row form-group">
									<div class="col-sm-4">
										<select name="additionalTaxTypeCop" class="form-control"
											ng-options="extraTax.taxType for extraTax in controller.additionalTaxType"
											ng-required="false" placeholder="Tax Type"
											ng-model="tempExtraTax.type">
										</select>
									</div>
									<div class="col-sm-3">
										<input class="form-control" name="iAdditionalTaxRateCop"
											id="iAdditionalTaxRateCop" type="text" placeholder="Rate %"
											ng-model="tempExtraTax.rate" ng-pattern="/^[0-9.]+$/"
											ng-blur="">
									</div>
									<div class="col-sm-4">
										<input class="form-control" name="iAdditionalTaxValCop"
											id="iAdditionalTaxValCop" type="text" placeholder="Amount"
											ng-model="tempExtraTax.amount" ng-pattern="/^[0-9.]+$/"
											ng-blur="">
									</div>
								</div>
								<div class="row form-group">
									<div class="col-sm-4">
										<input type="button" value="Add Tax"
											class="btn btn-sm btn-success"
											ng-click="addOtherTax(tempExtraTax)">
									</div>
								</div>

							</div>


						</div>
					</div>

					<div class="col-sm-1">
						<input type="button" ng-disabled="checkValidityOfInvoiceItem()"
							value="Add Item to Invoice" class="btn btn-sm btn-success"
							ng-click="controller.addInvoiceItem(invoiceItemTemp)">
					</div>
				</div>
				<br>
				<div class="col-sm-1">
					<input type="button" ng-disabled="checkValidityOfInvoiceItem()"
						value="Create Item" class="btn btn-sm btn-success"
						ng-click="controller.createInvoiceItem()">
				</div>
				<!-- Invoice Items -->

				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-4">
							<div class="row">Amount received:</div>
						</div>
						<div class="col-sm-4">
							<div class="row">
								<input type="text" ng-model="controller.invoice.amountReceived" />
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-4">
							<div class="row">Total Amount:</div>
						</div>
						<div class="col-sm-4">
							<div class="row">{{controller.tempGrandTotal}}</div>
						</div>
					</div>
				</div>

				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-4">
							<div class="row">Total Tax:</div>
						</div>
						<div class="col-sm-4">
							<div class="row">{{controller.tempTotalTax}}</div>
						</div>
					</div>
				</div>

			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</div>
	</form>
	<!--Customer Modal -->
	<div id="customerModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content modal-lg">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Select the Customer from the list</h4>
				</div>
				<div class="modal-body">
					<table class="table-responsive table-striped">
						<tr>
							<td>Search</td>
							<td colspan="2"><input type="text" ng-model="curCustomer"
								class="inputText"></td>
						</tr>
						<tr>
							<th>Select</th>
							<th>Name</th>
							<th>Email</th>
							<th>Mobile</th>
							<th>Phone</th>
							<th>Address</th>
							<th>State</th>
							<th>State Code</th>
							<th>GSTIN</th>
						</tr>
						<tr
							ng-repeat="customer in controller.customers track by customer.customerId | filter: curCustomer">
							<td><input type="button" value="Select"
								class="btn btn-sm btn-success"
								ng-click="setSelectedCustomer(customer)" data-dismiss="modal">
							</td>
							<td>{{customer.name}}</td>
							<td>{{customer.email}}</td>
							<td>{{customer.mobileNo}}</td>
							<td>{{customer.phoneNo}}</td>
							<td>{{customer.address}}</td>
							<td>{{customer.state}}</td>
							<td>{{customer.stateCode}}</td>
							<td>{{customer.gstin}}</td>
						</tr>
					</table>
				</div>
			</div>

		</div>
	</div>

	<!--Consignee Modal -->
	<div id="consigneeModal" class="modal fade" role="dialog"">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content modal-lg">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Select the Customer from the list</h4>
				</div>
				<div class="modal-body">
					<table class="table-responsive table-striped">
						<tr>
							<td>Search</td>
							<td colspan="2"><input type="text" ng-model="curConsignee"
								class="inputText"></td>
						</tr>
						<tr>
							<th>Select</th>
							<th>Name</th>
							<th>Email</th>
							<th>Mobile</th>
							<th>Phone</th>
							<th>Address</th>
							<th>State</th>
							<th>State Code</th>
							<th>GSTIN</th>
						</tr>
						<tr
							ng-repeat="consignee in controller.consignees | filter: curConsignee">
							<td><input type="button" value="Select"
								class="btn btn-sm btn-success"
								ng-click="setSelectedConsignee(consignee)" data-dismiss="modal">
							</td>
							<td>{{consignee.name}}</td>
							<td>{{consignee.email}}</td>
							<td>{{consignee.mobileNo}}</td>
							<td>{{consignee.phoneNo}}</td>
							<td>{{consignee.address}}</td>
							<td>{{consignee.state}}</td>
							<td>{{consignee.stateCode}}</td>
							<td>{{consignee.gstin}}</td>
						</tr>
					</table>
				</div>
			</div>

		</div>
	</div>
</div>


