<html>

<head>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700"
	rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Montserrat"
	rel="stylesheet" />
<!-- The main CSS file -->
<link href="style-print.css" rel="stylesheet" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
</head>

<body>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-route.js"></script>
	<script type="text/javascript">
		var app = angular.module('PrintInvoiceApp', [])
		app.controller('PrintController', function($scope, $window) {
			$scope.invoice = $window.invoice;
			$scope.userDetails = $window.userDetails;
			
			$scope.print = function() {
				$window.print();
			};
			
		});
	</script>
	<div ng-app="PrintInvoiceApp" ng-controller="PrintController">
		<p>Invoice created successfully with Invoice Number:
			{{invoice.invoiceNumber}} .</p>

			<button class="btn btn-default" value="Print" ng-click="print()"><i class="fa fa-print fa-2x" aria-hidden="true">  </i></button>

		<table class="invoicetable">
			<thead>
				<tr class="well highlightedSection">
					<td colspan="4">TAX INVOICE</td>
					<td colspan="6">{{invoice.invoiceNumber}}</td>
					<td colspan="6">{{invoice.invoiceDate | date}}</td>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td colspan="8">{{userDetails.firmName}} <br /> GSTIN:
						{{userDetails.gstin}}
					</td>
					<td colspan="8">{{userDetails.address}} <br />
						{{userDetails.state.statename}} ({{userDetails.state.statecode}})
					</td>
				</tr>

				<tr>
					<td colspan="8">
						<div class="highlightedSection">Billing Details</div> <br> <strong>{{invoice.customer.name}}
					</strong><br /> {{invoice.customer.address}} <br /> State:
						{{invoice.customer.state.state}}
					</td>
					<td colspan="8">
						<div class="highlightedSection">Shipping Details</div> <br> <strong>{{invoice.consignee.name}}
					</strong><br> {{invoice.consignee.address}}<br /> State:
						{{invoice.consignee.state.state}}
					</td>
				</tr>

				<tr class="highlightedSection">
					<td rowspan="2">S.No.</td>
					<td rowspan="2">Product</td>
					<td rowspan="2">HSN/SAC</td>
					<td rowspan="2">Rate</td>
					<td rowspan="2">Units</td>
					<td rowspan="2">Quant.</td>
					<td rowspan="2">Total</td>
					<td rowspan="2">Disc</td>
					<td rowspan="2">Taxable Value</td>
					<td colspan="2">CGST</td>
					<td colspan="2">SGST</td>
					<td colspan="2">IGST</td>
				</tr>
				<tr class="highlightedSection">
					<td>Rate</td>
					<td>Amount</td>
					<td>Rate</td>
					<td>Amount</td>
					<td>Rate</td>
					<td>Amount</td>
				</tr>

				<tr
					ng-repeat="item in invoice.invoiceItemDetails track by item.serialNumber">
					<td>{{item.serialNumber}}</td>
					<td>{{item.product.name}}</td>
					<td>{{item.product.hsnCode}}</td>
					<td>{{item.rate}}</td>
					<td>{{item.unit}}</td>
					<td>{{item.quantity}}</td>
					<td>{{item.total | currency:"&#x20B9;"}}</td>
					<td>{{item.discount | currency:"&#x20B9;"}}</td>
					<td>{{item.taxableValue | currency:"&#x20B9;"}}</td>
					<td>{{item.cgstRate}} %</td>
					<td>{{item.cgstAmount | currency:"&#x20B9;"}}</td>
					<td>{{item.sgstRate}} %</td>
					<td>{{item.sgstAmount | currency:"&#x20B9;"}}</td>
					<td>{{item.igstRate}} %</td>
					<td>{{item.igstAmount | currency:"&#x20B9;"}}</td>
				</tr>
				<tr>
					<td colspan="8" rowspan="4"></td>
					<td colspan="4">Total Amount:</td>
					<td colspan="4">{{ invoice.grandTotal | currency:"&#x20B9;" }}</td>
				</tr>

				<tr>
					<td colspan="4">Total Tax:</td>
					<td colspan="4">{{ invoice.totalTax | currency:"&#x20B9;" }}</td>
				</tr>

				<tr>
					<td colspan="4">Grand Total:</td>
					<td colspan="4">{{invoice.netTotal | currency:"&#x20B9;"}}</td>
				</tr>

				<tr>
					<td colspan="4">Amount received:</td>
					<td colspan="4">{{invoice.amountReceived |
						currency:"&#x20B9;"}}</td>
				</tr>
				<tr>
					<td colspan="8">For {{userDetails.firmName}} (Seal and Sign in
						above box.)</td>
				</tr>
				<tr>
					<td colspan="16" rowspan="2">Terms and Conditions:</td>
				</tr>

			</tbody>

		</table>
	</div>
	
	
</body>

</html>