<div ng-controller="InvoiceController as controller"
	onload="getInvoiceNumber()">
	<form name="invoiceForm" ng-submit="controller.submit()">
		<div class="container">
			<div class="row">
				<div class="col-sm-2">
				</div>
				<div class="col-sm-8">
					<table class="formTable">
						<tr>
							<td class="boldRow">GSTIN</td>
							<td>BGVPM7295M00089</td>
						</tr>
						<tr>
							<td class="boldRow">Name</td>
							<td>Harshit Modi</td>
						</tr>
						<tr>
							<td class="boldRow">Address</td>
							<td>Modi Traders, Near Dada Dhaniram Ashram, Karikon Tiraha, Maharajpur, Mandla</td>
						</tr>
						<tr>
							<td class="boldRow">State</td>
							<td>Madhya Pradesh</td>
						</tr>
						<tr>
							<td class="boldRow">Invoice Number</td>
							<td>{{controller.invoice.invoiceNumber}}</td>
						</tr>
						<tr>
							<td class="boldRow">Invoice Date</td>
							<td><input type="date" ng-model="controller.invoice.invoiceDate"></td>
						</tr>
					</table>
				</div>
				<div class="col-sm-2">
				</div>	
			</div>
			<div class="row">
				<div class="col-sm-2">
				</div>	
				<div class="col-sm-4">
					<table class="formTable">
						<tr class="boldRow"><td colspan="2">Details of Receiver(Billed To)</td></tr>
						<tr class="boldRow"><td colspan="2">Details of the person to whom the invoice is billed</td></tr>
						<tr class="boldRow"><td colspan="2"><br/></td></tr>
						<tr>
							<td>
								<input type="radio" name="isNewCustomer" value="true" ng-model="controller.invoice.isNewCustomer" ng-change="clearCustomer()">New Customer
							</td>
							<td>
								<input type="radio" name="isNewCustomer" value="false" ng-model="controller.invoice.isNewCustomer" ng-change="getCustomers()" data-toggle="modal" data-target="#customerModal"">Existing Customer
							</td>
						</tr>
						<tr>
							<td class="boldRow">Name</td>
							<td><input type="text" ng-model="controller.invoice.customer.name" class="inputText"></td>
						</tr>
						<tr>
							<td class="boldRow">Address</td>
							<td><input type="text" ng-model="controller.invoice.customer.address" class="inputText"></td>
						</tr>
						<tr>
							<td class="boldRow">Mobile</td>
							<td><input type="text" ng-model="controller.invoice.customer.mobileNo" class="inputText"></td>
						</tr>
						<tr>
							<td class="boldRow">Phone</td>
							<td><input type="text" ng-model="controller.invoice.customer.phoneNo" class="inputText"></td>
						</tr>
						<tr>
							<td class="boldRow">Email</td>
							<td><input type="text" ng-model="controller.invoice.customer.email" class="inputText"></td>
						</tr>
						<tr>
							<td class="boldRow">State</td>
							<td><input type="text" ng-model="controller.invoice.customer.state" class="inputText"></td>
						</tr>
						<tr>
							<td class="boldRow">State Code</td>
							<td><input type="text" ng-model="controller.invoice.customer.stateCode" class="inputText"></td>
						</tr>
						<tr>
							<td class="boldRow">GSTIN</td>
							<td><input type="text" ng-model="controller.invoice.customer.gstin" class="inputText"></td>
						</tr>
					</table>
				</div>	
				<div class="col-sm-4">
					<table class="itemTable">
						<tr class="boldRow"><td colspan="2">Details of Consignee(Shipped To)</td></tr>
						<tr class="boldRow"><td colspan="2">Address of delivery, to be specified if different from billing address</td></tr>
						<tr>
							<td>
								<input type="radio" name="isNewConsignee" value="true" ng-model="controller.invoice.isNewConsignee" ng-change="clearConsignee()">New Consignee
							</td>
							<td>
								<input type="radio" name="isNewConsignee" value="false" ng-model="controller.invoice.isNewConsignee" data-toggle="modal" data-target="#consigneeModal"">Existing Consignee
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<input type="radio" name="isNewConsignee" value="sameAsCustomer" ng-model="controller.invoice.isNewConsignee" ng-change="copyCustomerToConsignee()">Same as Customer
							</td>
						</tr>
						<tr>
							<td class="boldRow">Name</td>
							<td><input type="text" ng-model="controller.invoice.consignee.name" class="inputText"></td>
						</tr>
						<tr>
							<td class="boldRow">Address</td>
							<td><input type="text" ng-model="controller.invoice.consignee.address" class="inputText"></td>
						</tr>
						<tr>
							<td class="boldRow">Mobile</td>
							<td><input type="text" ng-model="controller.invoice.consignee.mobileNo" class="inputText"></td>
						</tr>
						<tr>
							<td class="boldRow">Phone</td>
							<td><input type="text" ng-model="controller.invoice.consignee.phoneNo" class="inputText"></td>
						</tr>
						<tr>
							<td class="boldRow">Email</td>
							<td><input type="text" ng-model="controller.invoice.consignee.email" class="inputText"></td>
						</tr>
						<tr>
							<td class="boldRow">State</td>
							<td><input type="text" ng-model="controller.invoice.consignee.state" class="inputText"></td>
						</tr>
						<tr>
							<td class="boldRow">State Code</td>
							<td><input type="text" ng-model="controller.invoice.consignee.stateCode" class="inputText"></td>
						</tr>
						<tr>
							<td class="boldRow">GSTIN</td>
							<td><input type="text" ng-model="controller.invoice.consignee.gstin" class="inputText"></td>
						</tr>
						
					</table>
				</div>	
				<div class="col-sm-2">
				</div>		
			</div>
			
			<div class="row">
				<div class="col-sm-12">
					<table class="invoiceTable">
						<tr>
							<td>Sr.No</td>
							<td>Product</td>
							<td>Quantity</td>
							<td>Unit</td>
							<td>Rate</td>
							<td>Total</td>
							<td>Disc</td>
							<td>Taxable Amount</td>
							<td>CGST %</td>
							<td>CGST Amount</td>
							<td>SGST %</td>
							<td>SGST Amount</td>
							<td>IGST %</td>
							<td>IGST Amount</td>
						</tr>
						
						<tr ng-repeat="invoiceItem in controller.invoice.invoiceItemDetails track by invoiceItem.serialNumber">
							<td>{{invoiceItem.serialNumber}}</td>
							<td>
								<select ng-model="invoiceItem.product" name="product" 
								ng-options="product.name for product in controller.products">
								</select>
							</td>
							<td><input style="width: 60px;" type="text" ng-model="invoiceItem.quantity"></td>
							<td><input style="width: 30px;" type="text" ng-model="invoiceItem.unit"></td>
							<td><input style="width: 30px;"type="text" ng-model="invoiceItem.rate"></td>
							<td><input style="width: 50px;" type="text" ng-model="invoiceItem.total"></td>
							<td><input style="width: 30px;" type="text" ng-model="invoiceItem.discount"></td>
							<td><input style="width: 100px;" type="text" ng-model="invoiceItem.taxableValue"></td>
							<td><input style="width: 40px;" type="text" ng-model="invoiceItem.cgstRate"></td>
							<td><input style="width: 100px;" type="text" ng-model="invoiceItem.cgstAmount"></td>
							<td><input style="width: 40px;" type="text" ng-model="invoiceItem.sgstRate"></td>
							<td><input style="width: 100px;" type="text" ng-model="invoiceItem.sgstAmount"></td>
							<td><input style="width: 40px;" type="text" ng-model="invoiceItem.igstRate"></td>
							<td><input style="width: 100px;" type="text" ng-model="invoiceItem.igstAmount"></td>
						</tr>
						
						<tr ng-repeat="invoiceItem in controller.tempInvoiceDetails track by invoiceItem.serialNumber">
							<td>{{invoiceItem.serialNumber}}</td>
							<td>
								<select ng-model="invoiceItem.product" name="product" 
								ng-options="product.name for product in controller.products">
								</select>
							</td>
							<td><input style="width: 60px;" type="text" ng-model="invoiceItem.quantity"></td>
							<td><input style="width: 30px;" type="text" ng-model="invoiceItem.unit"></td>
							<td><input style="width: 30px;"type="text" ng-model="invoiceItem.rate"></td>
							<td><input style="width: 50px;" type="text" ng-model="invoiceItem.total"></td>
							<td><input style="width: 30px;" type="text" ng-model="invoiceItem.discount"></td>
							<td><input style="width: 100px;" type="text" ng-model="invoiceItem.taxableValue"></td>
							<td><input style="width: 40px;" type="text" ng-model="invoiceItem.cgstRate"></td>
							<td><input style="width: 100px;" type="text" ng-model="invoiceItem.cgstAmount"></td>
							<td><input style="width: 40px;" type="text" ng-model="invoiceItem.sgstRate"></td>
							<td><input style="width: 100px;" type="text" ng-model="invoiceItem.sgstAmount"></td>
							<td><input style="width: 40px;" type="text" ng-model="invoiceItem.igstRate"></td>
							<td><input style="width: 100px;" type="text" ng-model="invoiceItem.igstAmount"></td>
							<td><input type="button" value="Add Item" class="btn btn-sm btn-success" ng-click="controller.addInvoiceItem(invoiceItem)"></td>
						</tr>
					</table>
				</div>
			</div>
			
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
	
	<!--Customer Modal -->
<div id="customerModal" class="modal fade" role="dialog"">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content modal-lg">
      <div class="modal-header">
      	<button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Select the Customer from the list</h4>
      </div>
      <div class="modal-body">
        <table class="table-responsive table-striped">
    	<tr>
    		<td>Search</td>
    		<td colspan="2"><input type="text" ng-model="curCustomer" class="inputText"> </td>
    	</tr>
    	<tr>
    		<th>Select</th>
    		<th>Name</th>
    		<th>Email</th>
    		<th>Mobile</th>
    		<th>Phone</th>
    		<th>Address</th>
    		<th>State</th>
    		<th>State Code</th>
    		<th>GSTIN</th>
    	</tr>
    	<tr ng-repeat="customer in controller.customers | filter: curCustomer">
    		<td><input type="radio" name="selectedCustomer" value="consignee" ng-model="selected.value" ng-change="setSelectedCustomer({{customer}})" data-dismiss="modal">Select</td>
    		<td>{{customer.name}}</td>
    		<td>{{customer.email}}</td>
    		<td>{{customer.mobileNo}}</td>
    		<td>{{customer.phoneNo}}</td>
    		<td>{{customer.address}}</td>
    		<td>{{customer.state}}</td>
    		<td>{{customer.stateCode}}</td>
    		<td>{{customer.gstin}}</td>
    	</tr>
    </table>
      </div>
    </div>

  </div>
</div>

	<!--Consignee Modal -->
<div id="consigneeModal" class="modal fade" role="dialog"">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content modal-lg">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Select the Customer from the list</h4>
      </div>
      <div class="modal-body">
        <table class="table-responsive table-striped">
    	<tr>
    		<td>Search</td>
    		<td colspan="2"><input type="text" ng-model="curConsignee" class="inputText"> </td>
    	</tr>
    	<tr>
    		<th>Select</th>
    		<th>Name</th>
    		<th>Email</th>
    		<th>Mobile</th>
    		<th>Phone</th>
    		<th>Address</th>
    		<th>State</th>
    		<th>State Code</th>
    		<th>GSTIN</th>
    	</tr>
    	<tr ng-repeat="consignee in controller.consignees | filter: curConsignee">
    		<td><input type="radio" name="selectedConsignee" value="consignee" ng-model="selected.value" ng-change="setSelectedConsignee({{consignee}})" data-dismiss="modal">Select</td>
    		<td>{{consignee.name}}</td>
    		<td>{{consignee.email}}</td>
    		<td>{{consignee.mobileNo}}</td>
    		<td>{{consignee.phoneNo}}</td>
    		<td>{{consignee.address}}</td>
    		<td>{{consignee.state}}</td>
    		<td>{{consignee.stateCode}}</td>
    		<td>{{consignee.gstin}}</td>
    	</tr>
    </table>
      </div>
    </div>

  </div>
</div>
	
	
</div>

