<link rel="stylesheet" href="style.css">

<table class="table table-bordered well">
	<thead>
		<tr class="well highlightedSection">
			<td colspan="4">TAX INVOICE</td>
			<td colspan="6">{{ngDialogData.invoice.invoiceNumber}}</td>
			<td colspan="6">{{ngDialogData.invoice.invoiceDate | date}}</td>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td colspan="8">{{userDetails.firmName}} <br /> GSTIN:
				{{userDetails.gstin}}
			</td>
			<td colspan="8">{{userDetails.address}} <br />
				{{userDetails.state.statename}} ({{userDetails.state.statecode}})
			</td>
		</tr>

		<tr>
			<td colspan="8">
				<div class="highlightedSection">Billing Details</div> <br> <strong>{{ngDialogData.invoice.customer.name}}
			</strong><br /> {{ngDialogData.invoice.customer.address}} <br /> State:
				{{ngDialogData.invoice.customer.state.state}}
			</td>
			<td colspan="8">
				<div class="highlightedSection">Shipping Details</div> <br> <strong>{{ngDialogData.invoice.consignee.name}}
			</strong><br> {{ngDialogData.invoice.consignee.address}}<br /> State:
				{{ngDialogData.invoice.consignee.state.state}}
			</td>
		</tr>

		<tr class="highlightedSection">
			<td rowspan="2">S.No.</td>
			<td rowspan="2">Product</td>
			<td rowspan="2">HSN/SAC</td>
			<td rowspan="2">Rate</td>
			<td rowspan="2">Units</td>
			<td rowspan="2">Quant.</td>
			<td rowspan="2">Total</td>
			<td rowspan="2">Disc</td>
			<td rowspan="2">Taxable Value</td>
			<td colspan="2">CGST</td>
			<td colspan="2">SGST</td>
			<td colspan="2">IGST</td>
		</tr>
		<tr class="highlightedSection">
			<td>Rate</td>
			<td>Amount</td>
			<td>Rate</td>
			<td>Amount</td>
			<td>Rate</td>
			<td>Amount</td>
		</tr>

		<tr
			ng-repeat="item in ngDialogData.invoice.invoiceItemDetails track by item.serialNumber">
			<td>{{item.serialNumber}}</td>
			<td>{{item.product.name}}</td>
			<td>{{item.product.hsnCode}}</td>
			<td>{{item.rate}}</td>
			<td>{{item.unit}}</td>
			<td>{{item.quantity}}</td>
			<td>{{item.total | currency:"&#x20B9;"}}</td>
			<td>{{item.discount | currency:"&#x20B9;"}}</td>
			<td>{{item.taxableValue | currency:"&#x20B9;"}}</td>
			<td>{{item.cgstRate}} %</td>
			<td>{{item.cgstAmount | currency:"&#x20B9;"}}</td>
			<td>{{item.sgstRate}} %</td>
			<td>{{item.sgstAmount | currency:"&#x20B9;"}}</td>
			<td>{{item.igstRate}} %</td>
			<td>{{item.igstAmount | currency:"&#x20B9;"}}</td>
		</tr>
		<tr>
			<td colspan="8" rowspan="4"></td>
			<td colspan="4">Total Amount:</td>
			<td colspan="4">{{ ngDialogData.invoice.grandTotal | currency:"&#x20B9;" }}</td>
		</tr>

		<tr>
			<td colspan="4">Total Tax:</td>
			<td colspan="4">{{ ngDialogData.invoice.totalTax | currency:"&#x20B9;" }}</td>
		</tr>

		<tr>
			<td colspan="4">Grand Total:</td>
			<td colspan="4">{{ngDialogData.invoice.netTotal | currency:"&#x20B9;"}}</td>
		</tr>

		<tr>
			<td colspan="4">Amount received:</td>
			<td colspan="4">{{ngDialogData.invoice.amountReceived | currency:"&#x20B9;"}}</td>
		</tr>
		<tr>
			<td colspan="8">For {{userDetails.firmName}} (Seal and Sign in
				above box.)</td>
		</tr>
		<tr>
			<td colspan="16" rowspan="2">Terms and Conditions:</td>
		</tr>

	</tbody>

</table>