<div ng-controller="ProductController as productController"
	onload="clearMessage()">
	<div ng-show="productController.showMessage"
		class="notificationMessage">
		{{productController.message}} <br />
	</div>
	<div class="container-fluid" style="max-width: 600px;">
		<div class="well">
			<form name="productForm" class="form-horizontal"
				ng-submit="productController.submitProductForm()">

				<div class="form-group">
					<input type="radio" name="isGood" ng-value="true"
						ng-model="productController.product.good"> Goods <input
						type="radio" name="isGood" ng-value="false"
						ng-model="productController.product.good"> Service
				</div>

				<div class="form-group">
					<label class="control-label col-xs-4">Product Type</label>
					<div class="col-xs-8">
						<input class="form-control" type="text"
							ng-model="productController.product.type" name="productType"
							placeholder="e.g. Cement, Milk, Software">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-xs-4">Product Name</label>
					<div class="col-xs-8">
						<input class="form-control" type="text"
							ng-model="productController.product.name" name="productName"
							placeholder="e.g. Lafarge, Amul">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-xs-4">Product Company </label>
					<div class="col-xs-8">
						<input class="form-control" type="text"
							ng-model="productController.product.company"
							name="productCompany" placeholder="Company of the Product">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-xs-4">Tax Rate</label>
					<div class="col-xs-8">
						<input class="form-control" type="text"
							ng-model="productController.product.taxRate"
							name="productTaxRate" placeholder="GST Rate of the Product">
					</div>
				</div>

				<div class="form-group">
					<div class="row">
						<label class="control-label col-xs-4"
							ng-show="productController.product.good">HSN Code</label> <label
							class="control-label col-xs-4"
							ng-hide="productController.product.good">SAC Code</label>
						<div class="col-xs-4">
							<input class="form-control" type="text"
								ng-model="productController.product.hsnCode" name="hsnCode"
								disabled="disabled">
						</div>
						<div class="col-xs-4">
							<input type="button" class="btn btn-sm btn-success"
								value="Get HSN" data-toggle="modal"
								data-target="#accountingCodeModal"
								ng-show="productController.product.good" ng-click="clearData()">

							<input type="button" class="btn btn-sm btn-success"
								value="Get SAC" data-toggle="modal"
								data-target="#accountingCodeModal"
								ng-hide="productController.product.good" ng-click="clearData()">
						</div>
					</div>
				</div>


				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</div>

	<!--Accounting Code Modal -->
	<div id="accountingCodeModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content modal-lg">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						ng-click="clearData()">&times;</button>
					<h4 class="modal-title">Select the HSN/SAC from the list</h4>
				</div>
				<div class="modal-body">
					<ul class="nav nav-tabs" id="tabContent">
						<li class="active" ng-show="productController.product.good"><a
							data-toggle="tab" ng-click="getHsnSections()">HSN for Goods</a></li>
						<li ng-hide="productController.product.good"><a
							data-toggle="tab" ng-click="getSacHeadings()">Service
								Accounting Code (SAC)</a></li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane active"
							ng-show="productController.showSacHeadings">
							<div class="form-group">
								<select class="form-control"
									ng-model="productController.selectedSacHeading"
									name="sacHeadings"
									ng-options="heading.headingDesc for heading in productController.sacHeadings"
									ng-change="getGroupsForHeading(productController.selectedSacHeading.headingCode)">
									<option value="" label="Select Heading"></option>
								</select>
							</div>

							<div class="form-group" ng-show="productController.showSacGroups">
								<select class="form-control"
									ng-model="productController.selectedGroup" name="sacGroups"
									ng-options="group.groupDesc for group in productController.sacGroups"
									ng-change="getSacCodesForGroup(productController.selectedGroup.groupCode)">
									<option value="" label="Select Groups"></option>
								</select>
							</div>

							<div ng-show="productController.showSACCodes">
								<div>
									<label>Search</label> <input type="text" ng-model="sacToSearch"
										class="inputText">
								</div>
								<table>
									<tr>
										<th>Select</th>
										<th>SAC Code</th>
										<th>SAC Description</th>
									</tr>
									<tr
										ng-repeat="sac in productController.sacs | filter: sacToSearch">
										<td><input type="radio"
											ng-click="productController.product.hsnCode = sac.sacCode"
											data-dismiss="modal"></td>
										<td>{{sac.sacCode}}</td>
										<td>{{sac.sacDesc | lowercase}}</td>
									</tr>
								</table>
							</div>
						</div>

					</div>
					<div class="tab-pane" ng-show="productController.showHSNSections">
						<div class="form-group">
							<select class="form-control"
								ng-model="productController.selectedHSNSection"
								name="hsnSections"
								ng-options="section.sectionDesc for section in productController.hsnSections"
								ng-change="getHSNChapter(productController.selectedHSNSection.sectionCode)">
								<option value="" label="Select Section"></option>
							</select>
						</div>

						<div class="form-group"
							ng-show="productController.showHSNChapters">
							<select class="form-control"
								ng-model="productController.selectedChapter" name="sacGroups"
								ng-options="chapter.chapterDesc for chapter in productController.hsnChapters"
								ng-change="getHSNs(productController.selectedChapter.chapterId)">
								<option value="" label="Select Chapter"></option>
							</select>
						</div>

						<div ng-show="productController.showHSN">
							<div>
								<label>Search</label> <input type="text" ng-model="hsnToSearch"
									class="inputText">
							</div>
							<table>
								<tr>
									<th>Select</th>
									<th>HSN Code</th>
									<th>HSN Description</th>
								</tr>
								<tr
									ng-repeat="hsn in productController.hsns | filter: hsnToSearch">
									<td><input type="radio"
										ng-click="productController.product.hsnCode = hsn.hsnCode"
										data-dismiss="modal"></td>
									<td>{{hsn.hsnCode}}</td>
									<td>{{hsn.hsnDesc | lowercase}}</td>
								</tr>
							</table>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>