<div ng-controller="ProductController as productController"
	onload="clearMessage()">
	<div ng-show="productController.showMessage"
		class="notificationMessage">
		{{productController.message}} <br />
	</div>
	<div class="container-fluid" style="max-width: 600px;">
		<form name="productForm" class="form-horizontal"
			ng-submit="productController.submitProductForm()">
			<div class="form-group">
				<label class="control-label col-xs-4">Product Type</label>
				<div class="col-xs-8">
					<select class="form-control"
						ng-model="productController.product.type" name="productType"
						ng-options="productType for productType in productController.productTypes">
						<option value="" label="Select Product Type"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-4">Product Comapany </label>
				<div class="col-xs-8">
					<input class="form-control" type="text"
						ng-model="productController.product.company" name="productCompany"
						placeholder="e.g. Ambuja, Birla Gold">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-4">Agency Start Date</label>
				<div class="col-xs-8">
					<input class="form-control" type="date"
						ng-model="productController.product.agencyStartDate"
						name="productStartDate"
						placeholder="Start Date of the Agency of the Product">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-4">Security Deposit</label>
				<div class="col-xs-8">
					<input class="form-control" type="text"
						ng-model="productController.product.depositAmount"
						name="depositAmount" placeholder="Amount deposoited as security">
				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<label class="control-label col-xs-4">HSN Code</label>
					<div class="col-xs-4">
						<input class="form-control" type="text"
							ng-model="productController.product.hsnCode" name="hsnCode"
							placeholder="Type the description of Product, e.g. Cement, Milk etc">
					</div>
					<div class="col-xs-4">
						<input type="button" class="btn" value="Get HSN"
							data-toggle="modal" data-target="#accountingCodeModal"
							ng-click="getHSNForProduct(productController.product.hsnCode)">
					</div>
				</div>
			</div>


			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>

	<!--Accounting Code Modal -->
	<div id="accountingCodeModal" class="modal fade" role="dialog"">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content modal-lg">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Select the HSN/SAC from the list</h4>
				</div>
				<div class="modal-body">
					<ul class="nav nav-tabs" id="tabContent">
						<li class="active"><a data-toggle="tab">HSN for Goods</a></li>
						<li><a data-toggle="tab" ng-click="getSacHeadings()">Service
								Accounting Code (SAC)</a></li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane active"
							ng-show="productController.showSacHeadings">
							<select class="form-control"
								ng-model="productController.selectedSacHeading" name="sacHeadings"
								ng-options="heading.headingDesc for heading in productController.sacHeadings">
								<option value="" label="Select Heading" ng-change="getGroupsForHeading(productController.selectedSacHeading)"></option>
							</select>


						</div>

						<div class="tab-pane" id="access-security">content 0</div>


						<div class="tab-pane" id="networking">content 1</div>
					</div>
				</div>

			</div>
		</div>

	</div>