<div ng-controller="InvoiceReportController as ctrl"
	ng-init="getInvoiceData(true, null, null)">
	<div class="container">
		<h2>Invoice Report (Last 30 Days)</h2>

		<form class="form-inline well">
				<div class="form-group">
					<label for="fromDate">From Date</label> 
					<input type="date" class="form-control"
						id="fromDate" ng-model="fromDate"/>
				</div>
				<div class="form-group">
					<label for="toDate">To Date</label>
					<input type="date" class="form-control"
						id="toDate" ng-model="toDate"/>
				</div>
				<button type="button" class="btn btn-primary btn-sm" ng-click="getInvoiceData(false, fromDate, toDate)">
						<span class="glyphicon glyphicon-search"></span> Search
				</button>
				
		</form>

		<table class="table table-bordered well">
			<thead>
				<tr>
					<th>#</th>
					<th ng-click="sort('customerName')">Customer Name <span
							class="glyphicon sort-icon" ng-show="sortKey=='customerName'"
							ng-class="{'glyphicon-circle-arrow-up':reverse,'glyphicon-circle-arrow-down':!reverse}"></span></th>
					<th ng-click="sort('consigneeName')">Consignee Name <span
							class="glyphicon sort-icon" ng-show="sortKey=='consigneeName'"
							ng-class="{'glyphicon-circle-arrow-up':reverse,'glyphicon-circle-arrow-down':!reverse}"></span></th>
					<th ng-click="sort('invoiceAmount')">Invoice Amount <span
							class="glyphicon sort-icon" ng-show="sortKey=='invoiceAmount'"
							ng-class="{'glyphicon-circle-arrow-up':reverse,'glyphicon-circle-arrow-down':!reverse}"></span></th>
					<th ng-click="sort('balanceAmount')">Balance Amount <span
							class="glyphicon sort-icon" ng-show="sortKey=='balanceAmount'"
							ng-class="{'glyphicon-circle-arrow-up':reverse,'glyphicon-circle-arrow-down':!reverse}"></span></th>
					<th ng-click="sort('invoiceDate')">Invoice Date <span
							class="glyphicon sort-icon" ng-show="sortKey=='balanceAmount'"
							ng-class="{'glyphicon-circle-arrow-up':reverse,'glyphicon-circle-arrow-down':!reverse}"></span></th>
					<th ng-click="sort('invoiceDueDate')">Due Date <span
							class="glyphicon sort-icon" ng-show="sortKey=='invoiceDueDate'"
							ng-class="{'glyphicon-circle-arrow-up':reverse,'glyphicon-circle-arrow-down':!reverse}"></span></th>
					<th>Receive Payment</th>
					<th>Print</th>
				</tr>
			</thead>
			<tbody>
				<tr dir-paginate="invoice in ctrl.invoices | orderBy:sortKey:reverse | itemsPerPage: 10 track by invoice.invoiceId">
					<td><a ng-click="getInvoice(invoice.invoiceId)">{{invoice.invoiceNumber}}</a></td>
					<td>{{invoice.customerName}}</td>
					<td>{{invoice.consigneeName}}</td>
					<td>{{invoice.invoiceAmount}}</td>
					<td>{{invoice.balanceAmount}}</td>
					<td>{{invoice.invoiceDate}}</td>
					<td>{{invoice.invoiceDueDate}}</td>
					<td><input type="button" value="Receive Payment"
						class="btn btn-sm btn-success"
						ng-disabled="checkBalanceAmount(invoice.balanceAmount)"
						ng-click="receivePaymentDialog(invoice)"></td>
					<td><input type="button" value="Print"
						class="btn btn-sm btn-success"
						ng-click="printInvoice(invoice.invoiceId)"></td>
				</tr>
			</tbody>
		</table>
		<dir-pagination-controls max-size="10" direction-links="true"
								 boundary-links="true"> </dir-pagination-controls>
	</div>
</div>
