<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">


	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%X{userSID}] %d{dd-MMM-yyyy HH:mm:ss,SSS} %-5p [%t] %m%n" />
		</layout>
		<filter class="org.apache.log4j.filter.ExpressionFilter">
			<param name="expression" value="EXCEPTION ~= javax.naming.PartialResultException" />
			<param name="acceptOnMatch" value="false" />
		</filter>

	</appender>

	<appender name="FileAppender" class="org.apache.log4j.rolling.RollingFileAppender">

		<!-- <param name="File" value="@{rdp.local.dir}/cli-cdd-fastHome/logs/document-colt-portal.log" 
			/> -->
		<param name="File"
			value="logs/document-ocr-service.log" />
		<param name="append" value="true" />

		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern"
				value="@LOG_FILE_ENV_LOCATION@/document-digitization-service.log.%d{yyyy-MM-dd}.gz" />
		</rollingPolicy>

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%X{userSID}] %d{dd-MMM-yyyy HH:mm:ss,SSS} %-5p [%t] %m%n" />
		</layout>
		<filter class="org.apache.log4j.filter.ExpressionFilter">
			<param name="expression" value="EXCEPTION ~= javax.naming.PartialResultException" />
			<param name="acceptOnMatch" value="false" />
		</filter>
	</appender>

	<category name="*">
		<priority value="INFO" />
	</category>

	<root>
		<priority value="INFO" />
		<appender-ref ref="FileAppender" />
		<appender-ref ref="ConsoleAppender" />
	</root>

</log4j:configuration>