<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700"
	rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
<!-- The main CSS file -->
<link href="style.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
<!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
</head>
<!-- The ng-app directive tells angular that the code below should be evaluated -->
<body ng-app="modiTradersApp">
	<!-- The navigation menu will get the value of the "active" variable as a class.
         The $event.preventDefault() stops the page from jumping when a link is clicked. -->
	<div class="mainbody" ng-controller="UserController as ctrl">
		<div class="logo">
			<img src="final-logo-cropped.png"></img>
		</div>
		<div class="navigation">
			<a href="#home" tabindex="1">Home</a> 
			<a href="#createInvoice"
				tabindex="2">Create Invoice</a> 
				<a href="#createProduct"
				tabindex="3">Create Product</a> 
				<a href="#createService"
				tabindex="4">Create Service</a> 
				<a href="#inventoryRefill"
				tabindex="5">Inventory Refill</a> 
				<a href="#serviceRecord"
				tabindex="6">Service Record</a>
				<div class="dropdown">
					<button class="dropbtn">Reports</button>
						<div class="dropdown-content">
						<a href="#productReport">Product Report</a> 
						<a href="#salesReport">Sales Report</a> 
						<a href="#serviceReport">Service Reports</a>
					</div>
				</div>
				
				<a href="#contactUs" tabindex="8">Contact</a>
		</div>
		<div>Welcome {{ctrl.userDetails.userName}} ({{ctrl.userDetails.userid}})</div>
		<div ng-view="true"></div>
		<!-- ng-show will show an element if the value in the quotes is truthful,
            while ng-hide does the opposite. Because the active variable is not set
            initially, this will cause the first paragraph to be visible. -->
		<!-- <div ng-show="active=='home'">
            <p>TODO: Create a homepage here</p>
         </div>
         <div ng-show="active=='invoice'">
            <p>TODO: Create a Create Invoice form here</p>
         </div>
         <div ng-show="active=='product'">
            <div ng-include="mainCtrl.productForm"></div>
         </div>
         <div ng-show="active=='service'">
            <div ng-include="mainCtrl.serviceForm"></div>
         </div>
         <div ng-show="active=='inventory'">
            <div ng-include="mainCtrl.inventoryRefill"></div>
         </div>
         <div ng-show="active=='servicerecord'">
            <div ng-include="mainCtrl.serviceRecord"></div>
         </div>
         <div ng-show="active=='contact'">
            <div ng-include="mainCtrl.contactUs"></div>
         </div> -->
	</div>

	<!-- Include AngularJS from Google's CDN -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-route.js"></script>
	<script src="app.js"></script>
	<script src="dirPagination.js"></script>
	<script src="productController.js"></script>
	<script src="productReportController.js"></script>
	<script src="invoiceController.js"></script>
	
	
<!-- <div class="footer">
		© 2017-2019 Modi Traders <br /> Designed and Built by Hitesh Modi
</div> -->
</body>
</html>